*, html {
    margin: 0;
    padding: 0;
}
html{font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;}
html, body{
    background: #f5f5f5;
    background: url(../images/back.png) repeat;
}
body{padding: 0 100px;}
div{
    display: block;
    border: 1px solid #999;
    vertical-align: middle;
    overflow: hidden;
    line-height: 1;
    /*box-sizing: border-box;*/
}
ul{list-style-type: none;}
#header{
    border: 0;
    padding-top: 5px;
    /*margin: 0 1px;*/
}

#header>*{padding-bottom: 5px;}

#logo{
    background: url(../images/logo_tmp.png) no-repeat;
    background-position-y: 5px;
    height: 60px;
    min-width: 150px;
    border: 0;
    float: left;
    
    /*clear: both;*/
    /*display: none;*/
}

/* personal */
#personal{
    height: 60px;    
    float: right;
    border: 0;
    /*position: relative;  */
}

#personal > a{
    display: block;    
    text-align: right;    
    margin: 0;
    padding: 20px 0 3px;
    border: 0;
    border-bottom: 1px dashed black;    
    vertical-align: bottom;
}

#personal > ul{
    display: none;
    position: absolute;
    z-index: 999999;    
    background: white;
    border: 1px solid black;
    right: 100px;
    min-width: 100px;
    /*top: 30px;    */
}

#personal > ul li{
    display: block;
    margin: 0;    
    float: none;
}
#personal ul a{
    display: block;
    padding: 5px;
    line-height: 1;    
    font:  90% sans-serif;
}

#personal >a:hover + ul, #personal >ul:hover
{
    display: block;
}

/*
#personal >ul:active
{
    display: none;
}*/

#personal > a:before {
    content: " ";
    width: 18px;    
    display: inline-block;
    height: 18px;
    padding: 0 3px;
    position: relative;
    top: 2px;
    background: url(../images/user.png) no-repeat;
}
/*#user_info > div{border-bottom: 1px dotted #999;}*/






/*  */

#nav-top{
    padding: 5px 0;
    /*min-height: 30px;*/
    /*border: 1px solid #999;*/
    font:  90% sans-serif;
}
#centerblock{
    background: #fff;
    border-top: 0;
    border-bottom: 0;
}
#nav-left{
    width: 200px;
    vertical-align: top;
    border: 0;
    font: 90% sans-serif;
    float: left;
}
#content{
    /*min-width: 380px;*/
    /*min-height: 300px;*/
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    /*border: 1px solid black;*/
    background:#fff;
    /*width: 100%;*/
}
#footer{
    min-height: 60px;
    border: 1px solid #999;
    -moz-border-radius :0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    border-radius :0 0 5px 5px;
    /*box-shadow:0px 5px 15px #aaa;*/
}
.minWidth{min-width: 640px;}
.inline-blck{display: inline-block;}
.gradient{
    background:#f5f5f5;
    background:linear-gradient(top, #fff 0, #ddd 2px, #fff 98%, #999);
    background:-moz-linear-gradient(top, #fff 0, #ddd 2px, #fff 98%, #999);
    background:-webkit-linear-gradient(top, #fff 0, #ddd 2px, #fff 98%, #999);
    background:-o-linear-gradient(top, #fff 0, #ddd 2px, #fff 98%, #999);
    background:-ms-linear-gradient(top, #fff 0, #ddd 2px, #fff 98%, #999);
}
/*****************/
#menu-top{
    display: inline-block;
    padding: 0 ;
    margin: 0;
    font: bold 90% sans-serif;
}
#menu-top > li{
    display: inline-block;
    border-right: 1px solid #999;
    padding: 0 5px;
    margin: 0;
    float: left;
}
#menu-top > li:hover{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

/***********************************/
#nav-left > div{
    display: block;
    /*border: 1px solid black;*/
    border-bottom: 0;
    padding: 3px;
    margin: 5px 5px 0 5px;
    text-align: center;
    background: #ddd;
}
#nav-left > ul{
    display: block;
    border: 1px solid #999;
    margin: 0 5px 5px 5px;
    padding: 0;
}

#nav-left > ul li{
    display: block;
    border: 0; /*1px solid #999;*/
    border-bottom: 1px solid #999;
    padding-bottom: 2px;
    margin: 5px;
}

#nav-left > ul li:hover{
    cursor: pointer;
    color: blue;
    background: #f5f5f5;
    border-bottom: 1px solid blue;
}

/******************/
#content > div{
    display: block;
    border: 0;
    border-bottom: 1px solid #ffbf00;
    padding: 3px;
    margin: 5px 5px 0 5px;
    /*width: 100%;*/
    /*text-align: center;*/
    /*background: #ddd;*/
}
#content > ul{
    display: block;
    border: 0; /*1px solid #999;*/
    margin: 0 5px 5px 5px;
    padding: 0;
}

#content > ul li{
    background: url(../images/document.png) no-repeat;
    background-position: 5px center;
    display: inline-block;
    border: 1px solid #999;
    border-bottom: 3px solid #999;
    border-right: 3px solid #999;
    padding: 5px 5px 5px 55px;
    margin: 5px;
    width: 250px;
    height: 70px;
    box-sizing: border-box;
    font: 1.2em monospace;
    text-align: left;
    overflow: hidden;
}
#content > ul li:hover{
    background: url(../images/arrow_down.png) no-repeat;
    background-position: 5px center;
    cursor: pointer;
    color: blue;
    /*background: #f5f5f5;*/
    border: 1px solid #999;
    border-top: 3px solid #999;
    border-left: 3px solid #999;
}
/*********/

#footer{margin-bottom: 20px;}
#footer > p {
    margin: 5px;
    font: bold 0.7em sans-serif;
}


/********/
#modal_back{
    display: none;
    position: fixed;
    z-index: 10;
    background: rgba(10,10,10,0.5);
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#form_container{
    position: absolute;
    z-index: 11;
    overflow: scroll;
    background: #ddd;
    border: 1px solid white;
    width: 400px;
    height: 300px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

